
<div class="container">
  <div id="column4">
  <h1>TravelMate</h1>


  <% if @current_user.present? %>
    Welcome back <%= @current_user.email %>
      <% else %>
    <h3>The match making app for travellers</h3>
  <% end %>


  <br></br>
  </div>
</div>
