
<div class="container">
  <div id="column1">
  <h1>TravelMate</h1>

<br></br>


  <% if @current_user.present? %>
    Welcome back <%= @current_user.email %>
  <% end %>

  <br></br>
  </div>
</div>
