
body {
  text-align: center;
  background: url('https://images.alphacoders.com/276/thumb-1920-276051.jpg');

}

h1 {
  color: #C0C0C0;
}

.container {
  color: #C0C0C0;
  background-color: rgba(255,255,255, 0.3);
  border-radius: 10%;
  height: 400px;
  width: 400px;
  margin-top: 15%;

}
